body {
    margin: 0%;
    padding: 0%;
    font-family: montserrat;
    background: linear-gradient(120deg,  rgb(135, 2, 2), black);
    height: 100vh;
}

.Formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: black;
    border-radius: 10px;
}

.Formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid white; 
}

.Formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid aliceblue;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

/* Label inicial */
.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: aliceblue;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
    visibility: visible;
}

/* Línea decorativa */
.username span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: .5s;
}

/* Animación de la línea al enfocar */
.username input:focus ~ span::before {
    width: 100%;
}


.recordar{
    margin: -5px 0 20px 5px;
    color: red;
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

.btn-1 {
    display: inline-block;
    padding: 20px 120px;
    border: 2px solid #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover {
    background-color: #DB241B;
}

.btn-2 {
    display: inline-block;
    padding: 20px 90px;
    border: 2px solid #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-2:hover {
    background-color: #DB241B;
}

.btn-3 {
    display: inline-block;
    padding: 20px 125px;
    border: 2px solid #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-3:hover {
    background-color: #DB241B;
}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
}

.registrarse a{
    color: blue;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}

.username select {
    color: white;
    background-color: black;
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 10px;
}
.username select option {
    color: black;
}